/* Стилизация кнопки */
button {
    width: 189px;
    height: 48px;
    color: #FFFFFF;
    border: 0px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 18.75px;
    text-align: center;
    transition: background 300ms ease-in-out
}

.button__primary {
    background: var(--primary-blue);
    opacity: 100%;
}

.button__primary:hover {
    background: var(--dark-blue);
    cursor: pointer;
}

.button__primary:disabled {
    opacity: 50%;
    cursor: not-allowed;
}
