.template {
    width: 100%;
    display: grid;
    grid-template-columns: auto 1fr;
    background: #F9FAFC;
}

.template__sidebar {
    width: 229px;
    padding-left: 56px;

    font-family: 'Inter', sans-serif;
    color: var(--black);
}

.template__sidebar_title {
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #000000;
    padding-bottom: 16px;
}

.template__sidebar_text {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

.template__sidebar_homelink {
    padding-top: 30px;
}

.template__main {
    padding: 32px 48px;
    background-color: var(--white);
    border-radius: 12px;
}

.template__main_title {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    color: var(--grey-4);
}