#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(196, 196, 196, 0.5);
}

.modal__window {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--white);
    border-radius: 8px;
    padding: 30px 40px;
    margin: 40px;
    max-width: 428px;
    min-height: 294px;
}

.modal__title {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #334D6E;
}

.modal__text {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.modal__close-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 16px;
    height: 16px;
    color: var(--grey-4);
}