.tooltip {
    display: inline-block;
    position: relative;
}

.tooltip__trigger {
    margin: auto;
}

.tooltip__trigger:hover ~ .tooltip__bubble {
    display: block;
}

.tooltip__bubble {
    display: none;
    padding: 13px 21px 8px;
    background: #4263EB;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 10px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #DDE2E5;
    position: absolute;
    bottom: calc(100% + 7px);
    left:50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.tooltip__bubble::before {
    content: '';
    position: absolute;
    top:100%;
    left:50%;
    transform: translateX(-50%);
    border: 6px solid transparent;
    border-top-color: #4263EB;;
} 