.footer {
    font-family: 'Inter', sans-serif;
    text-align: center;
    color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footer_template {
    height: 130px;
}

.footer__title {
    font-weight: 500;
    font-size: 38px;
    line-height: 48px;
}

.footer__text {
    max-width: 640px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
